<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script type='text/javascript' src='https://cbcbi.canalbarge.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1920px; height: 923px;'><object class='tableauViz' width='1920' height='923' style='display:none;'><param name='host_url' value='https%3A%2F%2Fcbcbi.canalbarge.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='SIUTMetricsDaily&#47;TurnTimeDashboard&#47;nwhite&#47;596576ad-16cf-41a0-98d1-27c374cb682a' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>
  </body>
</html>
